pymongo
Unidecode
pystun
pip
pip-tools
xlwt-future
Jinja2
networkx
nose
pyglet
chardet2
xlrd
six
requests
future
MarkupSafe
django-contact-form
setuptools
South
html5lib
virtualenv
Markdown==2.4
Django==1.6.4
cssselect
httplib2
django-taggit
bitstring
Pillow
decorator
Pygments
lxml
